.btn {
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  border: 0.0625em solid;
  border-radius: 0.1875em;
  padding: 0.6em 1em;

  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-default {
  @include button-variant($gray-darker, transparent, $gray-darker);
}

.btn-primary {
  @include button-variant($brand-primary, transparent, $brand-primary);
}

.btn-wide {
  padding-right: 1.5em;
  padding-left: 1.5em;
}

a.btn {
  text-decoration: none;
}
